---

import recipes from "../../data/recipes.json";

---
<main  >
  <div class="relative mx-auto px-8 max-w-7xl py-12 md:px-12">
    <h2 class="font-semibold rounded-full p-4 text-xl lg:text-4xl my-2
    border-red-800 duration-500
    text-center w-full text-white-500  lg:w-auto border text-white bg-red-800 hover:bg-white hover:text-red-800">Postres</h1>
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-4 ">
      {recipes.map(i=>
        i.type === "Postre" && (
          <figure>
            <img
              class="w-full rounded-3xl shadow-2xl"
              src={i.img}
              alt={i.name}
              width="1310"
              height="873"
            />
            <div class="mt-4 flex justify-between px-6">
              <div>
                <h3 class="text-sm text-negroni-500">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {i.name}
                  </a>
                </h3>
                <p class="mt-1 text-lg font-medium leading-6 text-white">{i.type}</p>
              </div>
              <p class="text-base text-gray-200">{i.precio} €</p>
            </div>
          </figure>
        )
      )} 
    </div>
    <h2 class="font-semibold rounded-full p-4
    border-red-800 duration-500 focus:outline-none my-2 text-xl lg:text-4xl
    text-center w-full text-white-500  lg:w-auto border text-white bg-red-800 hover:bg-white hover:text-red-800">Comida</h1>
    <div class="grid grid-cols-1 gap-6 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-4">
      {recipes.map(i =>
        i.type === "Comida" && (
          <figure>
            <img
              class="w-full rounded-3xl shadow-2xl"
              src={i.img}
              alt={i.name}
              width="1310"
              height="873"
            />
            <div class="mt-4 flex justify-between px-6">
              <div>
                <h3 class="text-sm text-negroni-500">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {i.name}
                  </a>
                </h3>
                <p class="mt-1 text-lg font-medium leading-6 text-white">{i.type}</p>
              </div>
              <p class="text-base text-gray-200">{i.precio} €</p>
            </div>
          </figure>
        )
      )}
    </div>
  </div>
</main>
